<% flash.each do|key,msg| %>
  <% case key %>
  <% when "error" %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% when "success" %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= msg%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%end%>
<%end%>
