<li>
  <a href="#"><img src="assets/small_product_list_09.jpg" alt="" /></a>
  <a href="#"><%= cart_item.product.name %> <br /> Shirt Beat</a>
  <span><%= cart_item.product.price %></span>
  <div class="clearfix"></div>
</li>